body {
    margin: 18px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

form {
    color: #5a5;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin-top: 6px;
}

form input {
    border: 1px solid #ccc;
    color: #5a5;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

pre {
    margin: 0px;
    padding: 0px;
    display: inline;
}

pre.status {
    color: #a55;
}

pre.otherMessage {
    color: #555;
}

pre.myMessage {
    color: #5a5;
}
